* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
  }
  
  .container {
    margin: 10% 15% 0 15%;
    display: grid;
    gap: 15px;
    grid-template-columns: 200px 600px;
    grid-template-rows: 100px 100px 500px 100px;
    color: white;
    text-align: center;
    /* second project code*/
    
  }
  
  .header {
    background-color: rgb(16, 139, 55);
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 10px;
    text-align: center;
  }
  
  .sidebar {
    background-color: rgb(20, 72, 228);
    grid-column: 1/2;
    grid-row: 2/4;
    border-radius: 10px;
  }
  
  .nav {
    background-color: rgb(122, 14, 253);
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 10px;
  }
  
  .article {
    background-color: rgb(158, 25, 247);
    grid-column: 2/3;
    grid-row: 3/4;
    border-radius: 10px;
  }
  
  .article p {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .footer {
    background-color: rgb(54, 59, 75);
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 10px;
  }
  